.container{
    justify-content: center;
    text-align: center;
}

.container h1 {
    padding: 6px 6px;
    font-size: 14px;
    background: #f2ff3b;
    border-radius: 12px 12px 0 0;
    
}

.container select{
    position: relative;
    background: #f1f1f1;
    font-size: 14px;
}