.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 25%;
    padding-right: 5%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}

.container img {
    height: 60px;
    width: auto;
}

.container ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    color: #f2ff00;
    font-weight: bold;
}

.container ul li:hover {
    color: #dcf405;
    transition: .3s;
}
